.tableList {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
  }
  
  .tdList {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 4px 4px 4px 7px;
    width: 35%;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}