.login {
    color: #444343;
    .container {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    &-wrapper {
        // max-width: 960px;
        padding: 20px;
        width: 100%;
        background-color: rgba(235, 242, 241, .5);
        border: 1px solid white;
        border-radius: 6px;
        // padding: 20px;
        text-align: left;
        display: flex;
        flex-direction: row;
    }

    label[for='email'],
    label[for='password'],label[for='name'],label[for='upload'],label[for='myfile'] ,label[for='subject'],label[for='message']{
        display: block;
        margin-bottom: 16px;
    }

    input[name='email'],
    input[name='password'],input[name='name'],input[name='upload'],input[name='myfile'],input[name='subject'],textarea[name='message'] {
        display: block;
        width: 100%;
        font-size: 18px;
        line-height: 1.2;
        border: 0;
        padding: 5px;
        color: #666;
        height: 50px;
        border-radius: 25px;
        padding: 0 30px;
    }

    fieldset {
        border: 0;
        margin-bottom: 20px;
    }

    input[name='email'],
    input[name='password'],
    .info
    {
        margin-bottom: 10px;
    }

    legend {
        margin-bottom: 16px;
    }
}

.video {
    max-width: 300px;
    margin: 0 auto;
    img {
        width: 100%;

    }
}

.video-section,
.form-section {
    width: 100%;
}

.video,
.forgot-password-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.form-group {
    margin-bottom: 30px;
}

.error {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}

.info {
    color: #5f5b5b;
    font-size: 13px;
}

.submit-btn {
    width: 100%;
    border: 0;
    background-color: #18a1f0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    height: 50px;
    border-radius: 25px;
    padding: 0 25px;
}

.account-actions {
    text-align: center;
}

.forget-password,
.sign-up {
    margin-bottom: 15px;
    cursor: pointer;
    color: #00f;
}

.remember-block input {
    margin-right: 8px;
}

@media (min-width: 1025px) {
    .login {
        &-wrapper {
            padding: 150px 130px 100px 71px;
        }

        input[name='email'],
        input[name='password'],input[name='name'],input[name='upload'],input[name='myfile'],input[name='subject'],textarea[name='message']
        .submit-btn {
            width: 90%;
        }
    }
    .video-section,
    .form-section {
        width: 50%;
    }


}


.header {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    ul {
        li {
            float: left;
            margin-right: 30px;
            &:first-child {
                margin-left: 15px;
            }
        }
    }
}

.login input.uploadFile {
    display: inline-block;
    width: 50%;
}
.login .contactForm textarea {
    padding: 12px;
}
.contact-us-section,.about-us-section {
    width: 100%;
    width: 100%;
    background-color: rgba(235, 242, 241, 0.5);
    border: 1px solid white;
    border-radius: 6px;
}